<body class="index">
  <h1 class="centered">Statistical Notes</h1>
  <br />
  <div class="centered">
    <input type="text" id="filterInput" placeholder="Type to filter..." />
    <button id="resetButton">Reset</button>
  </div>
  <ul id="content">

    <li class="index_li">
      <a href="https://errickson.net/marginsnotes/">Marginal Effects</a>: A
      long-form document on using marginal effects (marginal means and marginal
      slopes) to improve interpretation of regression coefficients, especially
      in the presence of an interaction. Presents as a Rosetta stone for Stata’s
      margins command and several R packages including <strong>emmeans</strong>,
      <strong>ggeffects</strong>, <strong>marginaleffects</strong>, and
      <strong>interactions</strong>. <em>Software</em>: Stata and R.
    </li>

    <li class="index_li">
      <a href="logtransform.html"
        >Interpreting log transformations in regression</a
      >: Interpreting coefficients from a linear regression model (or linear
      mixed model) when the predictor and/or the outcome have been log
      transformed. <em>Software</em>: R, though concepts could transfer to other
      software.
    </li>

    <li class="index_li">
      <a href="mixedModelsSPSS.html">Random intercepts in SPSS’s Mixed Model</a
      >: There are two ways of specifying random intercepts in SPSS’s Mixed
      Model; this discusses their equivalence. <em>Software</em>: SPSS.
    </li>

    <li class="index_li">
      <a href="moderationMediation.html"
        >Moderation and Mediation via Regression</a
      >: Although moderation and mediation typically arise in SEM/path analysis
      frameworks, moderation can be addressed in regression, and mediation can
      be conceptualized through regression.
    </li>

    <li class="index_li">
      <a href="iccirr.html">IRR and ICC</a>: Some notes on intra-class
      correlation vs inter-rater reliability, as well as how to obtain the ICC.
      <em>Software</em>: R, though concepts could transfer to other software.
    </li>

    <li class="index_li">
      <a href="visualizeCollinearity.html">The issue of collinear predictors</a
      >: A visualization to see the potential negative effect of including
      highly collinear variables in a model. <em>Software</em>: R, though
      concepts could transfer to other software.
    </li>

    <li class="index_li">
      <a href="xtsetvsmixed.html">Stata, <code>xt</code> versus mixed model</a>:
      Econometricians usually use the <code>xt</code> framework to address
      repeated measures. This document shows how to fit the equivalent of fixed
      effects regression, between effects regression, and random effects
      regression using linear regression (<code>regress</code>) and linear mixed
      models (<code>mixed</code>). <em>Software</em>: Stata.
    </li>

    <li class="index_li">
      <a href="vizrandomeffects.html">Nested versus crossed random effects</a>:
      Multiple random effects in a mixed model are typically defined as either
      “nested” or “crossed”. This document shows that this is a false dichotomy
      (nested random effects aren’t real!), as well as showing some nice
      visualization. <em>Software</em>: R, though concepts could transfer to
      other software.
    </li>

    <li class="index_li">
      <a href="splinesvsinteraction.html">Linear splines versus interactions</a
      >: Models such as interrupted time series or diff-in-diff are often
      considered special analyses. This document attempts to show that these are
      just regression models with particular interactions. <em>Software</em>:
      Stata, though concepts could transfer to other software.
    </li>

    <li class="index_li">
      <a href="randomselection.html"
        >Selecting a random subset of the data, potentially within subgroups</a
      >: An easy way to generate a random sample of your data of arbitrary size,
      including a stratified approach. <em>Software</em>: Stata, though concepts
      could transfer to other software.
    </li>

    <li class="index_li">
      <a href="svy_gsem_teffects.html">Mediation with Survey data</a>: To fit a
      mediation model in Stata using complex survey data requires using
      <code>gsem</code>. Unfortunately, the <code>gsem</code> command does not
      support directly estimating direct, indirect and total effects. This
      documents how to compute them. <em>Software</em>: Stata.
    </li>

    <li class="index_li">
      <a href="divideby4.html">The “Divide by 4” rule</a>: An additional tool in
      interpreting logistic regression coefficients is the “Divide by 4” rule.
      <em>Software</em>: Stata, though concepts could transfer to other
      software.
    </li>

    <li class="index_li">
      <a href="responsesurfaceplot.html">Response Surface Model Plotting</a>: An
      example of visualization after running a “response surface model”, aka
      just regression with an interaction. <em>Software</em>: R.
    </li>

    <li class="index_li">
      <a href="poissonapprox.html"
        >When can Poisson Regression Approximate Logistic Regression</a
      >: With rare outcomes, sometimes Poisson models are used instead of
      logistic. How rare does the outcome need to be to minimize bias?
      <em>Software</em>: Stata, though results are software agnostic.
    </li>

    <li class="index_li">
      <a href="modifying_stata_builtin.html"
        >Modifying built-in-Stata commands</a
      >: A fun story about hacking one of Stata’s shipped-with commands to make
      some code work. A story rather than a guide or instructions.
      <em>Software</em>: Stata.
    </li>

    <li class="index_li">
      <a href="randomslopes.html"
        >Random Slopes and Group Sizes</a>: A discussion of fixed slopes are not
         affected by the inclusion or exclusion of random slopes, unless group
         sizes are imbalanced. <em>Software</em>: R, though
         results are software agnostic.
    </li>

    <li class="index_li">
      <a href="power_by_simulation.html"
        >Power Analysis Simulation Example</a>: An implemented example of power
         analysis via simulation. Assumes some basic understanding of power
         analysis, and is focused primarily on the code. <em>Software</em>: R.
    </li>
</ul>

  <p style="text-align: center">
    <a href="../index.html">Home</a>
  </p>

  <p id="license">This work is licensed under
    <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0
      <img style="height:1.5em!important;margin-left:3px;vertical-align:text-bottom;" src="https://errickson.net/images/cc-by-nc.png" alt="Creative Commons BY-NC image">
    </a>
  </p>
  <script src="index_filter.js"></script>
</body>
</html>
