
/**********************************************************************
Floating TOC stuff
https://css-tricks.com/sticky-table-of-contents-with-scrolling-active-states/
**********************************************************************/

/* 1. Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* 2. Make nav sticky */
body > nav {
	  position: sticky;
	  top: 2rem;
	  align-self: start;
}

emph {
    font-weight: 900;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
    text-decoration: underline;
	  font-weight: 900;
}

/* Sidebar Navigation */
.section-nav {
	  padding-left: 0;
	  /* border-left: 1px solid #efefef; */
}

.section-nav :not(p) a {
	  text-decoration: none;
	  display: block;
	  padding: .125rem 0;
	  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

/** Poor man's reset **/
* {
	  box-sizing: border-box;
}

nav ul, nav ol {
	  list-style: none;
	  margin: 0;
	  padding: 0;
}

nav li {
	  margin-left: 1rem;
}

/** page layout **/
body.statsnotes {
	  display: grid;
	  grid-template-columns: 1fr 15em;
	  max-width: 100em;
	  width: 90%;
	  margin: 0 auto;
    font-size: 1em;
}


#header_content {
    display: block;
}

#header_nav {
    display: none;
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
    body.statsnotes {
        display: flex;
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    body.statsnotes > .content {
        order: 3;
        padding-top: 5%;
    }

    body.statsnotes > .section-nav {
        width: 90%;
        margin-top: 1rem;
        position: fixed;
        order: 2;
        border: 2px;
        border-radius: 5%;
    }

    #header_content {
        display: none;
    }

    #header_nav {
        display: block;
    }
}



@media screen and (max-width: 767px) and (not (prefers-color-scheme: dark)) {
    body.statsnotes > .section-nav {
        background-color: var(--light);
        border-style: solid;
        border-color: var(--dark);
    }
}

@media screen and (max-width: 767px) and (prefers-color-scheme: dark) {
    body.statsnotes > .section-nav {
        background-color: var(--dark) ;
        border-style: solid;
        border-color: var(--light);
    }
}

/**********************************************************************
Show/Hide TOC button
**********************************************************************/

body.statsnotes > .showhide {
    display: none;
}

@media screen and (max-width: 767px) {
    body.statsnotes > .showhide {
        position: fixed;
        display: block;
        order: 1;
        z-index: 1000;
    }

}
.hidden {
    visibility: hidden;
}

/**********************************************************************
Sticky section for Poisson approx
**********************************************************************/

.poisson-select input[type="radio"] {
    display: none;
}

.poisson-select label {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

.poisson-select label:hover {
    background-color: var(--grey1);
}

.poisson-select label:has(input[type="radio"]:checked) {
    color: var(--dark);
    background-color: var(--light) !important;
}

@media (prefers-color-scheme: dark) {
    .poisson-select label {
        border: 1px solid var(--light);
        background-color: var(--light);
        color: var(--dark);
    }

    .poisson-select label:has(input[type="radio"]:checked) {
        color: var(--light);
        background-color: var(--dark) !important;
    }
}

/* Style for the sticky header */
.poisson-tabs {
    position: sticky;
    top: 0;
    background-color: var(--light);
    color: var(--dark);
    padding: 15px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .poisson-tabs {
        align-items: end;
    }
}

@media (prefers-color-scheme: dark) {
    .poisson-tabs {
        background-color: var(--dark);
        color: var(--light);
    }
}

.sim_prop span {
    display: none;
}

.poisson-select .poisson-tabs:has(#prev10:checked) ~ pre .sim_prop span:nth-of-type(1),
.poisson-select .poisson-tabs:has(#prev5:checked) ~ pre .sim_prop span:nth-of-type(2),
.poisson-select .poisson-tabs:has(#prev3:checked) ~ pre .sim_prop span:nth-of-type(3),
.poisson-select .poisson-tabs:has(#prev1:checked) ~ pre .sim_prop span:nth-of-type(4),
.poisson-select .poisson-tabs:has(#prevp5:checked) ~ pre .sim_prop span:nth-of-type(5),
.poisson-select .poisson-tabs:has(#prev10:checked) ~ p .sim_prop span:nth-of-type(1),
.poisson-select .poisson-tabs:has(#prev5:checked) ~ p .sim_prop span:nth-of-type(2),
.poisson-select .poisson-tabs:has(#prev3:checked) ~ p .sim_prop span:nth-of-type(3),
.poisson-select .poisson-tabs:has(#prev1:checked) ~ p .sim_prop span:nth-of-type(4),
.poisson-select .poisson-tabs:has(#prevp5:checked) ~ p .sim_prop span:nth-of-type(5) {
  display: inline-block;
}

.sim_results pre {
    display: none;
}

.poisson-select .poisson-tabs:has(#prev10:checked) ~ .sim_results pre:nth-of-type(1),
.poisson-select .poisson-tabs:has(#prev5:checked) ~ .sim_results pre:nth-of-type(2),
.poisson-select .poisson-tabs:has(#prev3:checked) ~ .sim_results pre:nth-of-type(3),
.poisson-select .poisson-tabs:has(#prev1:checked) ~ .sim_results pre:nth-of-type(4),
.poisson-select .poisson-tabs:has(#prevp5:checked) ~ .sim_results pre:nth-of-type(5) {
  display: block;
}

.poisson_images img {
    display: none;
}

.poisson-select .poisson-tabs:has(#prev10:checked) ~ .poisson_images img:nth-of-type(1),
.poisson-select .poisson-tabs:has(#prev5:checked) ~ .poisson_images img:nth-of-type(2),
.poisson-select .poisson-tabs:has(#prev3:checked) ~ .poisson_images img:nth-of-type(3),
.poisson-select .poisson-tabs:has(#prev1:checked) ~ .poisson_images img:nth-of-type(4),
.poisson-select .poisson-tabs:has(#prevp5:checked) ~ .poisson_images img:nth-of-type(5) {
    display: block;
}


/**********************************************************************
visualize collinearity plot flexbox stuff
**********************************************************************/

.col-plot-container {
    display: flex;
    padding: 1em;
}

/* If the total window width is below this, switch from side-by-side to stacked.
   Letting flexbox decide by itself was allowing the text to squish too much. */
@media (max-width: 1000px) {
    .col-plot-container {
        flex-wrap: wrap;
    }
}

.col-select input[type="radio"] {
    display: none;
}


.col-select label {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

.col-select label:hover {
    background-color: var(--grey1);
}

.col-select label:has(input[type="radio"]:checked) {
    color: var(--dark);
    background-color: var(--light) !important;
}

@media (prefers-color-scheme: dark) {
    .col-select label {
        border: 1px solid var(--light);
        background-color: var(--light);
        color: var(--dark);
    }

    .col-select label:has(input[type="radio"]:checked) {
        color: var(--light);
        background-color: var(--dark) !important;
    }
}

.col-images img {
    display: none;
    max-width: 400px;
    max-height: 400px;
    padding-right: 5px;
}


.col-select label:has(#low:checked) ~ .col-plot-container .col-images img:nth-of-type(1),
.col-select label:has(#mod:checked) ~ .col-plot-container .col-images img:nth-of-type(2),
.col-select label:has(#high:checked) ~ .col-plot-container .col-images img:nth-of-type(3),
.col-select label:has(#extreme:checked) ~ .col-plot-container .col-images img:nth-of-type(4) {
    display: block;
}

.col-corr span, .col-text span {
    display: none;
}


.col-select label:has(#low:checked) ~ .col-plot-container .collinearity_graph_text .col-corr span:nth-of-type(1),
.col-select label:has(#mod:checked) ~ .col-plot-container .collinearity_graph_text .col-corr span:nth-of-type(2),
.col-select label:has(#high:checked) ~ .col-plot-container .collinearity_graph_text .col-corr span:nth-of-type(3),
.col-select label:has(#extreme:checked) ~ .col-plot-container .collinearity_graph_text .col-corr span:nth-of-type(4) {
    display: inline-block;
}


.col-select label:has(#low:checked) ~ .col-plot-container .collinearity_graph_text .col-text span:nth-of-type(1),
.col-select label:has(#mod:checked) ~ .col-plot-container .collinearity_graph_text .col-text span:nth-of-type(2),
.col-select label:has(#high:checked) ~ .col-plot-container .collinearity_graph_text .col-text span:nth-of-type(3),
.col-select label:has(#extreme:checked) ~ .col-plot-container .collinearity_graph_text .col-text span:nth-of-type(4) {
    display: inline-block;
}

/**********************************************************************
Shrink image on small screens for collinearity
**********************************************************************/

@media (max-width: 500px) {
    .col-images img {
        max-width: 90% !important;
        min-width: 250px;
    }
}

/**********************************************************************
Remove elements when printing
**********************************************************************/

@media print
{
    .no-print, .no-print * {
        display: none !important;
    }

    body.statsnotes {
        display: unset !important;
    }
}
